.if-step {
  display: flex;
  flex-direction: column;
  background: #444;
  border-radius: 4px;
  color: #FFF;
  height: 125px;
  justify-content: space-between;
  padding: 1em;
  width: 250px;
}

.btn {
  background: #6C5CE7;
  border: none;
  border-radius: 3px;
  color: #FFF;
  outline: none;
  padding: .4em;
}
