/* Add global styles to this file */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Poppins", sans-serif;
}

.ngflowchart-step-wrapper[ngflowchart-drop-hover]::after {
  background: #A3E798 !important;
}

.ngflowchart-step-wrapper[ngflowchart-drop-hover]::before {
  background: #4CD137 !important;
}

.ngflowchart-arrow {
  & #arrowhead {
    fill: darkgrey;
  }

  & #arrowpath {
    stroke: darkgrey;
  }
}

.step {
  display: flex;
  background: #FBFBFB;
  border-radius: 4px;
  color: #444;
  flex-direction: column;
  min-height: 100px;
  min-width: 200px;
  padding: 1em;
}
