.nested-flow-step {
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
  border-radius: 4px;
  color: #444;
  min-height: 300px;
  min-width: 300px;
  padding: 1em;

  &.nested-alt {
    background: #F0F0F0;
  }
}

.nested-canvas-content {
  display: flex;
  flex: 1 0 100%;
  background-image: linear-gradient(to right, #D9D9D9 1px, transparent 1px), linear-gradient(to bottom, #D9D9D9 1px, transparent 1px);
  background-size: 30px 30px;
  width: 100%;
}
